<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Heyo <%= @user.f_name %>!</h1>
    
    <h3>This is as test email from my app.</h3>
    
    <img src="https://images.metmuseum.org/CRDImages/eg/original/1191R2_Sec501M.jpg" width="300">
    
    <p>Have a killer day!</p>
  </body>
</html>